md-bottom-sheet.md-list
  table.results
    tr
      th(width="50%") Nous
      th(width="50%") Eux
      th
    tr(ng-repeat="partie in parties" ng-click="edit($index, $event)")
      td(width="50%") {{ partie.nous }}
      td(width="50%") {{ partie.eux }}
