md-toolbar.md-hue-2
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings' ng-click="toggleSidenav()")
      md-icon(md-svg-icon='menu')
    h2
      span Coinchoïd

div.main(flex layout="row")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(
    layout='column'
    md-component-id='left'
  )
    md-list
      md-list-item(ng-click="reset()") Nouvelle Partie
      md-list-item(ng-click="goToDetails()") Détails de la partie
  main.md-padding(layout="row" flex)
    .container(ui-view)
