.main(layout="column" flex="grow")
  md-toolbar
    .md-toolbar-tools
      h2 Coinchoid
      div(flex)
      md-button.md-icon-button(aria-label='Edit score' ng-click="openDetails()")
        md-icon(md-svg-icon='pencil')
      md-button.md-icon-button(aria-label='Restart' ng-click="reset()")
        md-icon(md-svg-icon='reload')
  .container(ui-view flex="grow" layout="vertical")
