.main(layout="column" flex="grow")
  md-toolbar
    .md-toolbar-tools
      h2 Coinchoid
      div(flex)
      md-button.md-icon-button(aria-label='Edit score' ui-sref="nav.annonce.details")
        md-icon(md-svg-icon='pencil')
      md-button.md-icon-button(aria-label='Restart' ui-sref="nav.annonce.new")
        md-icon(md-svg-icon='reload')
  .container(ui-view flex="grow" layout="vertical")
