div.main(flex layout="row")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(
    layout='column'
    md-component-id='left'
  )
    .header
      h1.title Captain Coinche
    md-list
      md-list-item(ng-click="reset()") Nouvelle Partie
  main(layout="column" flex)
    md-toolbar
      .md-toolbar-tools
        //- md-button.md-icon-button(aria-label='Settings' ng-click="toggleSidenav()")
        //-   md-icon(md-svg-icon='menu')
        score
        div(flex)
        md-button.md-icon-button(aria-label='Restart' ng-click="reset()")
          md-icon(md-svg-icon='reload')
    .container(ui-view)
