md-list
  md-list-item(ng-repeat="partie in parties")
    span Nous : {{ partie.nous }} - Eux : {{ partie.eux }}

md-button.md-primary.md-raised(ui-sref="annonce") Nouvelle annonce
md-button.md-primary(ng-click="reset()") Commencer une nouvelle Partie
