md-dialog(aria-label='Info')
  md-list(flex)
    md-subheader.md-no-sticky Pour faire chuter
    md-list-item Sans atout: {{ annonce.chuSansAtout }}
    md-list-item Tout atout: {{ annonce.chuToutAtout }}
    md-divider
    md-subheader.md-no-sticky Pour réussir
    md-list-item Sans atout: {{ annonce.reussiSansAtout }}
    md-list-item Tout atout: {{ annonce.reussiToutAtout }}
