point-selector {
  md-radio-button {
    margin-left: 10px !important;
  }
  .options {
    padding: 20px;
  }
  md-grid-tile.md-primary {
    background-color: #cddc39;
  }
  md-grid-tile.md-accent {
    background-color: #b0bec5;
  }

  .coinche {
    margin-top: 10px;

    .options:focus {
      outline: none;
    }
  }
}
