md-card
  md-card-content(layout="row")
    div(flex="50" layout="column" layout-align="center center")
      div Nous
      div.score {{ score.nous }}
    div(flex="50" layout="column" layout-align="center center")
      div Eux
      div.score {{ score.eux }}
